---
layout: default
title: Home
---

<div class="posts">

  <h1 style="text-align:center"> Henri's Site </h1>
  <p style="text-align:center">Hello and welcome to my site, here you can find my projects and blog posts. </p>
  <p class="social-links">
    <a href="https://github.com/henriwoodcock" class="social-link">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://www.linkedin.com/in/henri-woodcock-682338155/" class="social-link">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </p>
</div>

<div class = "nav">
<center>
    <ul>
      <li>
        <a class="link" href="">Home</a>
      </li>
      <li>
        <a class="link" href="{{ site.url }}/about">About</a>
      </li>
      <li>
        <a class="link" href="{{ site.url }}/blog">Blog</a>
      </li>
      <li>
        <a class="link" href="{{ site.url }}/projects">Projects</a>
      </li>
      <li>
        <a class="link" href="{{ site.url }}/cv">CV</a>
      </li>
    </ul>
</center>
</div>

<hr>

<h1 class="page-title">Latest Posts</h1>


<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
