---
layout: default
---

<div class="post">

  <h1 style="text-align:center"> {{ page.title }} </h1>
  <p style="text-align:center"> {{ page.liner}} </p>


<div class = "nav">
<center>
    <ul>
      <li>
        <a class="link" href="{{ site.url }}">Home</a>
      </li>
      <li>
        <a class="link" href="{{ site.url }}/about">About</a>
      </li>
      <li>
        <a class="link" href="{{ site.url }}/blog">Blog</a>
      </li>
      <li>
        <a class="link" href="{{ site.url }}/projects">Projects</a>
      </li>
      <li>
        <a class="link" href="{{ site.url }}/cv">CV</a>
      </li>
    </ul>
</center>
<div>

  <hr>

  <div class="page">
    {{ content }}
  </div>

  <hr>

  <p class="social-links">
    <a href="https://github.com/henriwoodcock" class="social-link">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://www.linkedin.com/in/henri-woodcock-682338155/" class="social-link">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </p>
  </div>
