---
layout: default
---

{% include mathjax.html %}
<div class="posts">

  <h1 style="text-align:center"> Henri's Site </h1>
  <p style="text-align:center">Hello and welcome to my site, here you can find my projects and blog posts. </p>
  <p class="social-links">
    <a href="https://github.com/henriwoodcock" class="social-link">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://www.linkedin.com/in/henri-woodcock-682338155/" class="social-link">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </p>
</div>

<center>
    <ul>
      <li>
        <a class="link" href="{{ site.url }}">Home</a>
      </li>
      <li>
        <a class="link" href="{{ site.url }}/about">About</a>
      </li>
      <li>
        <a class="link" href="{{ site.url }}/blog">Blog</a>
      </li>
      <li>
        <a class="link" href="{{ site.url }}/projects">Projects</a>
      </li>
      <li>
        <a class="link" href="{{ site.url }}/cv">CV</a>
      </li>
    </ul>
</center>

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>

<hr>
